.heading {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin: 30px 0;
  padding-left: 50px;
  @include media(sp) {
    padding-left: 20px;
  }
}

.heading__number {
  font-size: 14px;
  font-weight: normal;
}
