@charset "utf-8";

main {
  @include media(pc) {
    padding-left: 200px !important;
  }
}

aside {
  @include media(pc) {
    width: 200px !important;
  }
}

.v-dialog {
  @include media(pc) {
    margin: 0 !important;
  }
  @include media(tablet) {
    margin: 0 !important;
  }
}

.v-icon {
  @include media(sp) {
    font-size: 18px !important;
  }
}

.v-rating {
  @include media(sp) {
    text-align: center;
  }
}
